[Unit]
Description=Run EVE Shared Map backup daily

[Timer]
OnCalendar=*-*-* 02:15:00 UTC
Persistent=true
RandomizedDelaySec=15m
Unit=eve-shared-map-backup.service

[Install]
WantedBy=timers.target
